{{ if ne .chezmoi.os "windows" -}}
    #!{{ lookPath "bash" }}

    {{ if eq .chezmoi.os "android" -}}

        script=android_setup.sh

    {{- else if eq .chezmoi.os "linux" -}}

        {{ if eq .chezmoi.osRelease.id "debian" -}}

            script=debian_setup.sh

        {{- else if eq .chezmoi.osRelease.id "arch" -}}

            script=arch_setup.sh

        {{ end }}

    {{ end }}

bash "$HOME/.local/share/chezmoi/setup_scripts/$script"

{{ end -}}