{{ if eq .chezmoi.os "android" -}}

#!/bin/sh
echo "Setting up Termux..."
rm "$HOME/../usr/etc/motd"
pkg install git fish getconf -y
chsh -s fish
curl -sS https://starship.rs/install.sh | sh -s -- --bin-dir /data/data/com.termux/files/usr/bin

{{ else if eq .chezmoi.os "linux" -}}

{{ if eq .chezmoi.osRelease.id "debian" -}}
#!/bin/sh
echo "Setting up Debian..."
sudo apt install nala fish git
chsh -s $(which fish)
curl -sS https://starship.rs/install.sh | sh
{{ end -}}

{{ end -}}