{{ if eq .chezmoi.os "android" -}}

#!/bin/sh
rm "$HOME/../usr/etc/motd"
pkg install git fish getconf jq macchina -y
chsh -s $(which fish)
curl -sS https://starship.rs/install.sh | sh -s -- --bin-dir /data/data/com.termux/files/usr/bin

{{ else if eq .chezmoi.os "linux" -}}

{{ if eq .chezmoi.osRelease.id "debian" -}}

#!/bin/sh
sudo apt install curl nala fish git jq
chsh -s $(which fish)
curl -sS https://starship.rs/install.sh | sh
curl -sL "https://github.com/Macchina-CLI/macchina/releases/latest/download/macchina-linux-x86_64" -o "$HOME/.local/bin/macchina" && chmod +x "$HOME/.local/bin/macchina"

{{ end -}}

{{ end -}}